<html xmlns="http://www.w3.org/1999/XHTML">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Edward Example &#x2014; <span org-keyword="TITLE">Letter Title</span></title>
    <link type="text/css" rel="stylesheet" href="style.css"/>
    <style type="text/css">
    </style>
  </head>
  <body>
    <div class="main">
      <div class="address">
        <span class="title"> </span>
        <span class="name">Edward Example</span><br/>
        <address>
          Example Way 12<br/>
          55555 Extown<br/>
        </address>
      </div>
      <div class="lbody">
        <span class="name">
          <span org-keyword="TO"> Max Mustermann</span>
        </span>
        <address>
          <span org-drawer-pre="address"> <pre>Musterweg 34
32324 Musterstadt</pre></span>
        </address>
        <div class="date-header">
          <span org-keyword="PLACE">Ortheim</span>, <span org="date-german">23. Mai 1977</span>
        </div>
        <div id="content">
          <p>
            Sehr geehrte Damen und Herren,
          </p>
          <p>
            ich möchte Ihnen mitteilen, ...
          </p>
          <p>
            mit freundlichen Grüßen
          </p>
        </div>
      </div>
      <div class="v-spacer">
      </div>
      <hr/>
      <div class="footer">
        <table>
          <tr>
            <td style="text-align: left">
              <div>
                Edward Example
              </div>
            </td>
            <td>
              <address>
                Email: <a href="mailto:edward@edward-example.de">edward@edward-example.de</a><br/>
                Telefon: +1 555 1234 5678
              </address>
            </td>
            <td>
              <address>
                Example Way 12<br/>
                55555 Extown
              </address>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
